@page "/"
@inject CurrentContextData context
<PageTitle>Index</PageTitle>
<Search ParentCaller="FetchAvailableVehicle"></Search>
@if (availableVehicles != null)
{
	<div class="container">
		<div class="row">
			@foreach (var i in availableVehicles)
			{
				<Vehicle boardingVehicle="@i" searchVechile="@search" OrderedVehicle="ReserveVehicle" />
			}
		</div>
	</div>  						
}

@code {
	private IEnumerable<AvailableVehicle> availableVehicles;
	private SearchVehicle search;

	public async void FetchAvailableVehicle(SearchVehicle searchVehicle)
	{
		search = searchVehicle;
		availableVehicles = await context.GetAvailableVehiclesAsync(searchVehicle) ;
	}
	public void ReserveVehicle(Order order)
	{
		context.ReserveVehicleAsync(order);
	}

	public void DummeyData()
	{
		var avlVehi = new AvailableVehicle()
			{
				CostPerKm = 10,
				ReachTime = DateTime.Now.ToShortDateString(),
				StartTime = DateTime.Now.ToShortDateString(),
				TotalCost=102.5,
				TotalDistance =12, 
				VehicleNumber="420",
				VechileTypes = VechileType.BLACK
			};
		var srch = new SearchVehicle()
			{
				LocationFrom = "Mumbai",
				LocationTo = "Madhepura",
				OnWhichDate = DateTime.Now
			}; 
	}
} 